*{
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    /* color: #5ce028; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: line-through;
    font-weight: 900; */
    /* line-height: .1; */
    /* letter-spacing: 1px; */
    /* background-color: greenyellow; */
}

/* h2{
    color: aqua;
} */
/* 
.Selector > h1{
    color: greenyellow;
} */

#Box > h2{
    color: brown;
}
/* 
.boxes > h1,
.boxes > h2,
.boxes > h3,
.boxes > h4 {
    color: yellow;
} */

/* p{
    color: white;
    background-image: url(./Assets/28-22-5-2-4-20-55m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.Box-modeling{
    width: 200px;
    height: 200px;
    background-color: red;
    /* ding-left: 20px;
    padding-top: 50px;pad */
    padding: 20px 40px 60px 80px;
    /* border-top: 20px solid black;
    border-bottom: 20px solid forestgreen; */
    border: 10px solid black;
    /* margin-left: 100px;
    margin-top: 200px; */
    margin: 30px 50px 70px 90px;
}

.box1{
    width: 200px;
    height: 100px;
    background-color: violet;
    /* flex: 1; */
    order: 1;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 3;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 2;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: green;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* height: 500px; */
    /* border: 5px solid black; */
    align-items: start;
    /* flex-wrap: wrap; */
    align-content: start;
    /* gap: 20px; */
}

.box6{
    width: 200px;
    height: 100px;
    background-color: coral;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: crimson;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: darkblue;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: darkgray;
}

.box10{
    width: 200px;
    height: 100px;
    background-color: black;
}

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    /* position: sticky; */
    /* top: 0; */
    /* margin-top: 70px; */
    /* position: relative; */
    /* top: 20px; */
}

.yellowbox{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: fixed;
    left: 20px;
    /* top: 20px; */
}

.green{
    width: 300px;
    height: 300px;
    background-color: green;
    /* position: relative; */
    position: fixed;
}

.pink{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: fixed;
    /* left: 30px; */
    /* top: 150px; */
}

.para{
    padding: 20px;
    background-color: steelblue;
    color: white;
}

.Container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
}

.items{
    background-color: green;
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.item2{
    grid-row: span 3;
}

.layout > div{
    border: 1px solid black;
    background-color: #ebabac;
    font-size: 50px;
    font-weight: 900;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "h h h h"
    "sb1 m m sb2"
    "f f f f";
}

.header{
    grid-area: h;
}

.footer{
    grid-area: f;
}

.sidebar1{
    grid-area: sb1;
}

.main{
    grid-area: m;
}

.sidebar2{
    grid-area: sb2;
}

.square{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transition-duration: 5s;
    transition-property: all;
    transition-timing-function: linear;
    /* transition-delay: 3s; */
}   

.square:hover{
    width: 600px;
    background-color: green;
    transform: translateX(20px);
}

.square2{
    width: 100px;
    height: 100px;
    background-color: coral;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes circle {
    25%{
        width: 200px;
        height: 200px;
        background-color: violet;
        left: 5px;
        top: 5px;
    }
    50%{
        width: 300px;
        height: 300px;
        background-color: brown;
        left: 10px;
        top: 10px;
    }
    75%{
        width: 400px;
        height: 400px;
        background-color: darkgray;
        left: 15px;
        top: 15px;
    }
    100%{
        width: 500px;
        height: 500px;
        background-color: blue;
        left: 20px;
        top: 20px;
    }
}

@media screen and (max-width:800px) {
    h1{
        color: red;
        background-color: black;
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    h2{
        color: violet;
        background-color: gray;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media screen and (max-width:400px) {
    p{
        color: forestgreen;
        background-color: darkblue;
        text-align: center;
        text-decoration: underline;
        text-transform: capitalize;
        width: 90%;
    }
}